---
const { image, title, description, rating } = Astro.props;
---

<div class="overflow-hidden flex flex-col rounded-[14px] relative h-[450px]">
  <img src={image} alt={title} class="w-[447px] h-[263px] absolute" />
  <div
    class="flex flex-col gap-[22px] pb-[22px] pt-[45px] pl-6 border border-[#BEBEBE] mt-auto rounded-[14px]"
  >
    <h2 class="text-[21px] font-semibold leading-[25.2px]">{title}</h2>
    <p class="leading-6 w-[329px]">{description}</p>
    <div class="flex items-center gap-[15px]">
      <div class="flex items-center">
        <img src="/big.svg" alt="" />
        <img src="/big.svg" alt="" />
        <img src="/big.svg" alt="" />
        <img src="/big.svg" alt="" />
        <img src="/bigStroke.svg" alt="" />
      </div>
      <span>{rating}</span>
    </div>
  </div>
</div>
